@model IEnumerable<Guis.TiendaMusica.Entidades.Tienda.Genre>

@{
    ViewBag.Title = "Index";
}

  
<h2>Seleccione de @Model.Count() géneros</h2>
<ul>
    @foreach(var genre in @Model) 
    {
        <li>@Html.ActionLink(genre.Name,"Browse", new { genre = genre.Name})</li>
    }
</ul>


